<html>
    <head>
        <meta charset="utf-8">
        <title>게시글 작성</title>
    </head>
    <body>
        <A href="./">메인화면으로 이동</A>
        <h2>주소지등록</h2>
        <form action='/addaddressAf' method='post'>
            기본주소 : <input style="width : 200px" type='text' name='Address_Basic' placeholder="ex)부산광역시 부산진구 거제대로 37"><br>
            회원번호(ID) : <input style="width : 200px" type='text' name='Member_No'placeholder="ID"><br>
            우편번호 : <input style="width : 200px" type='number' name='Address_PostCord' placeholder="ex)47208"><br>
            상세주소 : <input style="width : 200px" type='text' name='Address_Detailed'placeholder="ex)~아파트 205동 1103호"><br>
            <button type='submit'>업로드</button>
        </form>
    </body>
</html>